/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2020, 10:38:33 PM
    Author     : strahinja
*/

.polje{
    position:absolute;
    display:inline;
    margin-top:1%
}
.wrapAsocijacije{
        width:100%;
        height:100vh;
}